*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
