.site-header {
  color: #ff6b0a;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    &:hover,
    &:focus {
      color: rgb(42, 57, 188);
    }
  }
}
.site-header__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  &:hover,
  &:focus {
    color: rgb(42, 57, 188);
  }
}
