<footer>
	<div class="footer-contacts">
          <address id="footerContacts" class="studio-address">
            <ul class="footer-contacts__list list">
              <li class="footer-contacts__item">
                <a
                  href="https://goo.gl/maps/VdQWWz9B43m97snR7"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="footer-contacts__address"
                  >г. Киев, пр-т Леси Украинки, 26</a
                >
              </li>
              <li class="footer-contacts__item">
                <a href="mailto:info@example.com" class="footer-contacts__mail">info@example.com</a>
              </li>
              <li class="footer-contacts__item">
                <a href="tel:+380991111111" class="footer-contacts__tel">+38 099 111 11 11</a>
              </li>
            </ul>
          </address>
</footer>
