<header class="site-header">
  <div class="site-header__container">
    <nav class="site-header__nav">
      <a class="site-header__logo" href=""></a>
      <ul class="site-header__list">
        <li class="site-header__item">
          <a class="site-header__link" href="">Home</a>
        </li>
        <li class="site-header__item">
          <a class="site-header__link" href="">How it’s made?</a>
        </li>
        <li class="site-header__item">
          <a class="site-header__link" href="">Our products</a>
        </li>
        <li class="site-header__item">
          <a class="site-header__link" href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>

  <button class="site-header__btn">Buy now</button>
</header>
